body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(51,8,103);
    background: radial-gradient(circle, rgba(48,207,208,1) 0%, rgba(51,8,103,1) 100%);
  }
   

  .form-box{
    width: 40vw;
    /* max-width: 500px; */
    padding: 40px;
    background: #131313;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .contact-form-container {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
  }
   
  .contact-form h2 {
    margin-bottom: 20px;
    color: #b0c4de;
  }
   
  .form-group {
    margin-bottom: 15px;
  }
   
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
   
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
  }
   
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #999;
  }